{% extends "paste101/templates/base.html" %}
{% block content %}
<script>
    $(document).ready(function() {
        hljs.initHighlightingOnLoad();
    });
</script>

<!--main-->
<div class="container" id="main">
    <div class="row">
        {% include 'paste101/templates/header.html' %}
    </div>

    <div class="row">
        <div class="col-md-9 col-sm-9">
            <div class="panel panel-default">
                <div class="panel-heading"><a href="/" class="pull-right">Homepage</a></div>
                <div class="panel-body">
                    {% if not multi %}
                        <p class="legend" id="legend">
                            <a href="/{{type}}/{{paste.uid}}/raw" class="subtle">Raw</a>
                        </p>
                    {% endif %}

                    <p>
                        {% if type == "i" %}
                            <center>
                                {% for p in pastes %}
                                    <img style="padding-bottom:50px;width:100%;" src="/i/{{p.uid}}/raw"/>
                                    <hr>
                                {% endfor %}
                            </center>
                        {% elif type == "p" %}
                            <pre><code class="{{paste.syntax}}">{{ paste.contents }}</code></pre>
                        {% endif %}
                    </p>
               </div>
            </div>
        </div>

        {% include 'paste101/templates/public_recent.html' %}

        <br>

        <div class="clearfix"></div>

        {% include 'paste101/templates/footer.html' %}

    </div>
    <!--/main-->
    {% endblock %}