<div class="col-md-3 col-sm-3" id="recent">
    <div class="panel panel-default">
        <div class="panel-body">
            <form method="post" action="/paste" enctype="multipart/form-data" novalidate class="box">
                <div class="box__input">

                    <input type="file" name="files[]" id="file" class="box__file"
                           data-multiple-caption="{count} files selected" multiple/>

                    <div id="dashed_stuff">
                        <label for="file">
                            <center>
                                <div id="hoeren" style="width:200px;padding-top: 0px;">
                                    Upload Images (drag/click)
                                    <br>
                                    <img style="opacity: 0.4;" width="20px" src="https://i.imgur.com/0SIQNbK.png"/>
                                </div>
                            </center>
                        </label>
                    </div>

                    <button type="submit" class="box__button">Upload</button>
                </div>

                <div class="box__uploading">Uploading&hellip;</div>
                <div class="box__success">Done! <a href="https://css-tricks.com/examples/DragAndDropFileUploading//?"
                                                   class="box__restart" role="button">Upload more?</a></div>
                <div class="box__error">Error! <span></span>. <a
                        href="https://css-tricks.com/examples/DragAndDropFileUploading//?" class="box__restart"
                        role="button">Try again!</a></div>
            </form>
            <hr>
            {% if recent_public %}
            <h4>Recent</h4>
            <div id="menu_2">
                <ul class="right_menu">
                    {% for p in recent_public %}
                        <li><a href="/p/{{p.uid}}">{{p.syntax}}</a><span>{{p.ago}}</span></li>
                    {% endfor %}
                </ul>
            </div>
            {% else %}

            {% endif %}
        </div>
    </div>
</div>
<script>(function (e, t, n) {
    var r = e.querySelectorAll("html")[0];
    r.className = r.className.replace(/(^|\s)no-js(\s|$)/, "$1js$2")
})(document, window, 0);</script>

<script>
    'use strict';

    ;
    (function ($, window, document, undefined) {
        // feature detection for drag&drop upload

        var isAdvancedUpload = function () {
            var div = document.createElement('div');
            return ( ( 'draggable' in div ) || ( 'ondragstart' in div && 'ondrop' in div ) ) && 'FormData' in window && 'FileReader' in window;
        }();


        // applying the effect for every form

        $('.box').each(function () {
            var $form = $(this),
                    $input = $form.find('input[type="file"]'),
                    $label = $form.find('label'),
                    $errorMsg = $form.find('.box__error span'),
                    $restart = $form.find('.box__restart'),
                    droppedFiles = false,
                    showFiles = function (files) {
                        $label.text(files.length > 1 ? ( $input.attr('data-multiple-caption') || '' ).replace('{count}', files.length) : files[0].name);
                    };

            // letting the server side to know we are going to make an Ajax request
            $form.append('<input type="hidden" name="ajax" value="1" />');

            // automatically submit the form on file select
            $input.on('change', function (e) {
                showFiles(e.target.files);


                $form.trigger('submit');


            });


            // drag&drop files if the feature is available
            if (isAdvancedUpload) {
                $form
                        .addClass('has-advanced-upload') // letting the CSS part to know drag&drop is supported by the browser
                        .on('drag dragstart dragend dragover dragenter dragleave drop', function (e) {
                            // preventing the unwanted behaviours
                            e.preventDefault();
                            e.stopPropagation();
                        })
                        .on('dragover dragenter', function () //
                        {
                            $form.addClass('is-dragover');
                        })
                        .on('dragleave dragend drop', function () {
                            $form.removeClass('is-dragover');
                        })
                        .on('drop', function (e) {
                            droppedFiles = e.originalEvent.dataTransfer.files; // the files that were dropped
                            showFiles(droppedFiles);


                            $form.trigger('submit'); // automatically submit the form on file drop


                        });
            }


            // if the form was submitted

            $form.on('submit', function (e) {
                // preventing the duplicate submissions if the current one is in progress
                if ($form.hasClass('is-uploading')) return false;

                $form.addClass('is-uploading').removeClass('is-error');

                if (isAdvancedUpload) // ajax file upload for modern browsers
                {
                    e.preventDefault();

                    // gathering the form data
                    var ajaxData = new FormData($form.get(0));
                    if (droppedFiles) {
                        $.each(droppedFiles, function (i, file) {
                            ajaxData.append($input.attr('name'), file);
                        });
                    }

                    // ajax request
                    $.ajax(
                            {
                                url: $form.attr('action'),
                                type: $form.attr('method'),
                                data: ajaxData,
                                dataType: 'json',
                                cache: false,
                                contentType: false,
                                processData: false,
                                complete: function () {
                                    $form.removeClass('is-uploading');
                                },
                                success: function (data) {
                                    $form.addClass(data.success == true ? 'is-success' : 'is-error');
                                    if (!data.success) $errorMsg.text(data.error);
                                    else window.location.href = data.uri;
                                },
                                error: function () {
                                    alert('Error :]');
                                }
                            });
                }
                else // fallback Ajax solution upload for older browsers
                {
                    var iframeName = 'uploadiframe' + new Date().getTime(),
                            $iframe = $('<iframe name="' + iframeName + '" style="display: none;"></iframe>');

                    $('body').append($iframe);
                    $form.attr('target', iframeName);

                    $iframe.one('load', function () {
                        var data = $.parseJSON($iframe.contents().find('body').text());
                        $form.removeClass('is-uploading').addClass(data.success == true ? 'is-success' : 'is-error').removeAttr('target');
                        if (!data.success) $errorMsg.text(data.error);
                        $iframe.remove();
                    });
                }
            });


            // restart the form if has a state of error/success

            $restart.on('click', function (e) {
                e.preventDefault();
                $form.removeClass('is-error is-success');
                $input.trigger('click');
            });

            // Firefox focus bug fix for file input
            $input
                    .on('focus', function () {
                        $input.addClass('has-focus');
                    })
                    .on('blur', function () {
                        $input.removeClass('has-focus');
                    });
        });

    })(jQuery, window, document);

</script>